body {
    background-color: #C8E4B2;
    display: flex;
    justify-content: center;
}

#list-container {
    background-color: #7EAA92;
    border-radius: 5px;
    width: 100vh;
    height: 40vh;
    margin-top: 10vh;
}

#title {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 5vh;
    margin-top: 2vh;
}

#list {
    background-color: #9ED2BE;
    text-align: center;
    list-style-type: none;
    width: 50vh;
    margin-left: 25vh;
}

#new-task-form {
    text-align: center;
}